.dropdown-button{

    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
    padding: 1px;
     width: 7vw;
    background-color: rgba(245, 245, 245, 0.541);
    
    }


    .card{

        padding: 20px;

        width: 25%;
    }

    p{

font-size: 12px;
color:rgb(131, 131, 131);

    }