<nav class="navbar p-0 navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="far text-white fa-bars"></i>
    </button> -->

    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="far text-white fa-bars"></i>
    </button>

    <a class="navbar-brand" href="#"> <i class="fab h3 ms-3 fa-github"></i></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="left-nav mt-0 ms-0 me-auto">
        <li class="">
          <label class="border-search-label">
            <input type="text" placeholder="Search or jump to..." />

            <span class="jump-to-search">/</span>
          </label>
        </li>
        <li>
          <a href=""> Pull requests </a>
        </li>
        <li>
          <a href="">Issues</a>
        </li>
        <li>
          <a href="">Marketplace</a>
        </li>
        <li>
          <a href="">Explore</a>
        </li>
      </ul>

      <ul class="d-block">
        <li class="me-2" class="mobile-view">
          <label>
            <input type="text" placeholder="Search or jump to..." />
          </label>
        </li>

        <li class="mobile-view">Dashboard</li>

        <li class="mobile-view">Pull requests</li>

        <li class="mobile-view">Issues</li>
        <li class="mobile-view">Marketplace</li>

        <li class="mobile-view">Explore</li>

        <li class="mobile-view">Codespaces</li>

        <li class="mobile-view">Sponsors</li>

        <li class="mobile-view">Settings</li>

        <li class="mobile-view">
          <i class="fas fa-sign-out-alt"></i> Sign Out
        </li>
      </ul>
    </div>
    <!-- <form  class="d-flex" > -->
    <ul class="right-nav m-0">
      <li class="me-3">
        <a href="">
          <i class="far text-white fa-bell"></i>
        </a>
      </li>
      <!-- Split dropleft button -->
      <!-- Split dropleft button -->
      <li class="mobile-display-none">
        <div class="btn-group">
          <div class="btn-group" role="group">
            <i
              type="button"
              class="btn text-white dropdown-toggle dropdown-toggle-split"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fal text-white fa-plus me-1"></i>
              <span class="sr-only">Toggle Dropleft</span>
            </i>
            <div class="dropdown-menu text-start">
              <a class="nav-link dropdown-link">New Repository</a>
              <a class="nav-link dropdown-link">Import Repository</a>
              <a class="nav-link dropdown-link">New gist</a>
              <a class="nav-link dropdown-link">New organization</a>
              <a class="nav-link dropdown-link">New project</a>
            </div>
          </div>
        </div>
      </li>
      <!-- split  -->
      <li class="mobile-display-none">
        <div class="btn-group">
          <div class="btn-group" role="group">
            <i
              type="button"
              class="btn text-white dropdown-toggle dropdown-toggle-split"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img
                src="https://avatars.githubusercontent.com/u/51863086?s=400&v=4"
                alt="Avatar"
              />
              <span class="sr-only">Toggle Dropleft</span>
            </i>
            <div class="dropdown-menu text-start">
              <a class="nav-link">Signed in as</a><br />
              <h6>
                <a routerLink="/overview">
                  {{ username }}
                </a>
              </h6>
              <hr />

              <span
                class="mx-auto"
                style="
                  cursor: pointer;
                  border: 1px solid rgb(233, 233, 233);
                  padding: 5px;
                  border-radius: 50px;
                  border-width: 100%;
                "
              >
                ☺ Set status
              </span>

              <hr />
              <a class="nav-link dropdown-link">Your profile</a>
              <a class="nav-link dropdown-link">Your repositories</a>
              <a class="nav-link dropdown-link">Your codespaces</a>
              <a class="nav-link dropdown-link">Your projects</a>

              <a class="nav-link dropdown-link">Your stars</a>
              <a class="nav-link dropdown-link">Your gists</a>
              <hr />
              <a class="nav-link">Upgrade</a>
              <a class="nav-link dropdown-link">Feature preview</a>

              <a class="nav-link dropdown-link">Help</a>
              <a class="nav-link dropdown-link">Settings</a>
              <hr />
              <a class="nav-link dropdown-link">Sign out</a>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <!-- </form> -->
  </div>
</nav>

<!-- <app-content></app-content> -->

<router-outlet></router-outlet>
