.profile-img {
  margin-top: -7%;
  height: auto;
  /* margin-left:10%;
    margin-right: 5%; */
  width: 100%;
  border-radius: 50%;
  z-index: 10;

  position: relative;
}
.title-name {
  font-size: 20px;
  font-weight: 100;
  margin-left: 10%;
  margin-top: 5%;
}

.profile-button {
  /* font-weight: bold; */
  background-color: rgb(255, 255, 255);
  border: 3px;

  border-radius: 7px;
  margin-left: 10%;
  border: 1px solid #d6d6d6; /* Green */
}

.profile-button:hover {
  background-color: rgb(231, 231, 231);
}

.stickNavbar-nav {
  background-color: white;
  z-index: -1;
}

@media only screen and (max-width: 576px) {
  .profile-img {
    margin-top: 0;

    margin-right: auto;
    width: 30%;
    margin-left: 30%;
    border-radius: 50%;
  }
}
